## Import needed Libraries and Modules

In [2]:
!pip install geocoder
import pandas as pd
import numpy as np
import geocoder
print("Imported!")

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from geocoder) (1.12.0)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from geocoder) (2.22.0)
Requirement already satisfied: click in c:\users\user\anaconda3\lib\site-packages (from geocoder) (7.0)
Requirement already satisfied: future in c:\users\user\anaconda3\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->geocoder) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->geocoder) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->geocoder) (2.8)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
Imported!

## Import Clean Data from the previous part

In [14]:
df = pd.read_csv('Toronto_Data_Cleaned_Part1.csv')

In [15]:
df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

## Add of coordinates

### Download of the file

In [16]:
file='http://cocl.us/Geospatial_data'
df_coor=pd.read_csv(file)
df_coor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Rename the column "Postal Code" to "PostalCode"

In [17]:
df_coor.columns = ['PostalCode', 'Latitude', 'Longitude']
df_coor.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [18]:
df_coor.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

### Join / Merge of the 2 Dataframes

In [23]:
Join_file=pd.merge(df,df_coor, how='right', on = 'PostalCode')
Join_file.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

###  .shape method to print the number of rows of the new dataframe

In [21]:
print(Join_file.shape)

(103, 5)